.navbar {
    height: 100px;
    background-color: black;
    font-family: sans-serif;
}

.navbar-brand, .nav-link {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.nav-style{
    font-size: 40px;
}




/* Card aquamen */
.div-cards-filmes{
    margin-top: 100px;
    display: flex;
}


.div-container-config{
    display: flex;
    margin-top: 100px;
    margin-left: 30px;
}

.div-avaliacao-config{
    margin-top: 15px;
    margin-right: 280px;
}

.titulo-faca-sua-avaliacao{
    font-weight: bold;
    color: #000000;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#ffffff, #ffffff);
    transition: all .5s;
    margin-left: 150px;
}

.card:hover {
    background-image: linear-gradient(#672abf, #380e74);
}

.card .img {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url('../../../img/mv_footer.jpg');
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: 260px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 25px;
    font-weight: bold;
}

.card .content .desc {
    font-size: 16px;
    font-weight: bold;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}


/* Sistema de avaliação */

/* Criando variaveis com as cores */
:root{
    --amarelo: #ffcc00;
    --cinza: #ccc;
}

/* Não exibir o input radio */
.estrela input[type="radio"]{
    display: none;
}



/* Criar as estrelas preenchidas em amarelo */
.estrela label i.opcao.fa:before{
    content: '\f005';
    color: var(--amarelo);
    cursor: pointer;
}

/* Atribuir o cinza nas estrelas, quando selecionar a estrela retirar a cor cinza */
.estrela input[type="radio"]:checked~label i.fa::before{
    color: var(--cinza);
}


/* Text area */
  
.input-bordas{
    color: #333; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    border: 1px solid #ccc; 
    padding: 7px 14px 9px; 
    transition: 0.4s;
}  



/* button */
.button-37 {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-37 {
      padding: 10px 30px;
    }
  }


.h2-comentarios-notas{
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    color: black;
}

/* NOTA MEDIA DO FILME */
.nota-media-filme{
    margin-left: 50px;
    margin-top: 35px;
    font-size: 35px;
}


/* NOTAS COMENTARIOS */

.table-comentario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td{
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cabecalho-trtd {
    text-align: center;
    background-color: #f2f2f2;
}

.corpo-table{
    text-align: center;
}

.data-header{
    width: 150px;
}
.data-cell{
    width: 200px;
}

.tamanho-nota{
    width: 200px;
}

.tamanho-nota-echo{
    width: 200px;
}


/* Footer */
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#000000;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  
  
  .footer-basic .social > a {
      font-size: 25px;
      text-align: center;
  }
  
  
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#000000;
    margin-bottom:0;
  }